* {
    margin: 4px;
    font-family: sans-serif;
    
}

h1 {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: left;
}

h2 {
    background-color: darkslateblue;
    color: white;
    font-style: italic;
    text-align: center;
    
}

h3 {
    background-color: lightskyblue;
    color: rgb(55,51,108);
    text-decoration: underline;
    text-align: right;
    
}